#header {
    background-color: #c20f4b;
    width:  100%;
    height: 100px;;
}
#header .logo{
    position: fixed;
    top: 10px;
    left: 20px;
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 5px;
}
#header .namalogo{
    position: fixed;
    top: 10px;
    left: 100px;
    width: 500px;
    height: 80px;
    background-color: transparent
}

#header .namalogo h1{
    position: fixed;
    top: 20px;
    margin-left: 30px;
    color: white;
}
body{
    background: #E91E63;
}
.base {
    
    background: #0b7fa5;
    height: 100%;
    width: 500px;
}
.header-form-cekdata {
    margin-top: 240px;
    text-align: center;
    background: transparent;
    color: white;
}
.header-form-cekdata-keberangkatan {
    margin-top: 100px;
    text-align: center;
    background: transparent;
    color: white;
}
.header-form-cekdata-booking {
    margin-top: 100px;
    text-align: center;
    background: transparent;
    color: white;
}

.header-form-login {
    margin-top: 240px;
    text-align: center;
    background: transparent;
    color: white;
}
.header-form-daftar {
    margin-top: 100px;
    text-align: center;
    background: transparent;
    color: white;
}

.header-form-login-gagal {
    margin-top: 220px;
    text-align: center;
    background: transparent;
    color: white;
}
.header-form-login-gagal img{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}
.header-form-login-gagal h1{
  
}

 .form-login {
    
   margin:  250px auto;
   margin-top: 0px;
    padding-left: 55px;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 55px;
    width: 45%;
   
    
    background: #FFFFFF;
    border-radius: 10px;
}
.form-daftar {
    
    margin:  250px auto;
    margin-top: 0px;
     padding-left: 55px;
     padding-top: 2%;
     padding-bottom: 1%;
     padding-right: 55px;
     width: 30%;
    
     
     background: #FFFFFF;
     border-radius: 10px;
 }
 .form-daftar label{
    font-weight: bold;
    
}
.form-daftar input{
    background-color: #F8BBD0;
}
.form-daftar .submit button{


    
    background-color: rgb(117, 123, 200);

}
.form-cekdata {
    
    margin:  250px auto;
    margin-top: 0px;
     padding-left: 55px;
     padding-top: 2%;
     padding-bottom: 1%;
     padding-right: 55px;
     width: 45%;
    
     
     background: #FFFFFF;
     border-radius: 10px;
 }

 .form-cekdata-keberangkatan {
    
    margin:  250px auto;
    margin-top: 0px;
     padding-left: 55px;
     padding-top: 2%;
     padding-bottom: 1%;
     padding-right: 55px;
     width: 75%;
    
     
     background: #FFFFFF;
     border-radius: 10px;
 }
 .form-cekdata-booking {
    
    margin:  250px auto;
    margin-top: 0px;
     padding-left: 55px;
     padding-top: 2%;
     padding-bottom: 1%;
     padding-right: 55px;
     width: 85%;
    
     
     background: #FFFFFF;
     border-radius: 10px;
 }
.login h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif 
}
.form-login label{
    font-weight: bold;
    
}
.form-login input{
    background-color: #F8BBD0;
}
.form-login .submit button{
    
    text-align: center;
    background-color: rgb(117, 123, 200);

}

