<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Form Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
   

</head>
<body>
    <div id="header">
        <div class="logo">
        <img src="https://scontent.fcgk18-2.fna.fbcdn.net/v/t1.6435-9/73302268_434884863835655_3005167567376482304_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHTdAP3_rDnA4NIvj7sEUnKedq6qcFHSEV52rqpwUdIRVqabAVjNqTZtffcUXjp6HmZatcCf7nz5ESl69dT_Av-&_nc_ohc=IxaaEPafPIsAX901GHC&_nc_ht=scontent.fcgk18-2.fna&oh=628052d9726a3f9e321ec0e6cf138d36&oe=61C4D894" class="img-fluid"alt="game">
        </div>
        <div class="namalogo">
        <h1>Kucing Menangis</h1>
        </div>
 
   
            
    </div>
    
        <form>
            <div class="header-form-cekdata-keberangkatan">
            <h1>Keberangkatan yang tersedia.</h1>
            </div><br>
            <div class="form-cekdata-keberangkatan">
                <table class="table" >
                    <tr>
                        <td scope="col">id</td>
                        <td scope="col">deskripsi</td>
                        <td scope="col">waktu</td> 
                        <td scope="col">kelas</td> 
                        <td scope="col">perusahaan</td> 
                        <td scope="col">harga</td>                   
                    </tr>
                    <tr th:each="dataCekKeberangkatan1 : ${dataCekKeberangkatanList}"> 
                        <td scope="col" th:text ="${dataCekKeberangkatan1.id}">
                        <td scope="col" th:text ="${dataCekKeberangkatan1.deskripsi}">
                        <td scope="col" th:text ="${dataCekKeberangkatan1.waktu}">
                        <td scope="col" th:text ="${dataCekKeberangkatan1.kelas}">
                        <td scope="col" th:text ="${dataCekKeberangkatan1.perusahaan}">
                        <td scope="col" th:text ="${dataCekKeberangkatan1.harga}">

                    </tr>
                   
        
                    
                </table>
                
            </div>
        </form>
    
    
</body>
</html>
